<!-- Sidebar  -->
<nav id="sidebar">
    <div id="dismiss">
        <i class="fas fa-arrow-left"></i>
    </div>

    <div class="sidebar-header">
        <h3>Meal</h3>
    </div>

    <ul class="list-unstyled components">
        <li >
            <a href="/">Home</a>
        </li>
        <li>
            <a href="#listSubmenu" data-toggle="collapse" aria-expanded="false">List</a>
            <ul class="collapse list-unstyled" id="listSubmenu">
                <li>
                    <a href="/list/a">Areas</a>
                </li>
                <li>
                    <a href="/list/c">Categories</a>
                </li>
                <li>
                    <a href="/list/i">Ingredients</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/categories">Categories</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
    </ul>
</nav>