{% extends "base.html" %}

{% block title %}List{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}

{% block page_content %}
{% include 'include/sidebar.html' %}
     <h2>Here you can see a detailed list of Categories whose recipes are in our database</h2>
     <table border = '1'>
         <tr>
             <th>ID</th>
             <th>Name</th>
             <th>Image</th>
             <th>Description</th>
         </tr>
         {% for i in categories %}
             <tr>
                 <td>{{i.idCategory}}</td>
                 <td><a href="/filter/c/{{i.strCategory}}">{{i.strCategory}}</a></td>
                 <td><a href = "{{i.strCategoryThumb}}">{{i.strCategoryThumb}}</a></td>
                 <td>{{i.strCategoryDescription}}</td>
             </tr>
         {% endfor %}
     </table>
{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}