{% extends "base.html" %}

{% block title %}Filter{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}

{% block page_content %}
{% include 'include/sidebar.html' %}

<h2>Here you can see a list of dishes that we have in the group <b>{{filter}}</b></h2>
    <table border = "1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Image</th>
        </tr>
        {% for i in filtered_data %}
            <tr>
                <td>{{i.idMeal}}</td>
                <td><a href = "/{{i.strMeal}}">{{i.strMeal}}</a></td>
                <td> <a href="{{i.strMealThumb}}">{{i.strMealThumb}}</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}