{% extends "base.html" %}

{% block title %}Greeting{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}

{% block page_content %}
{% include 'include/sidebar.html' %}
<h1>Hello, Guest. Welcome to our kitchen.</h1>
    <p>
        Our service allows you to find a recipe for the dish you are interested in.
        For your convenience, recipes are grouped by Areas, Categories or main Ingredient.
        Each dish has a link to a video describing its preparation as well as colorful photos.
    </p>
    <p>
        We hope that you will like our service and that it will become an irreplaceable assistant in your kitchens.
    </p>
<h1>Bon appétit.</h1>
{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}